# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Vite cache
.vite/

# IDE settings
.vscode/
.idea/

# Local uploads or private files
*.local
*.zip
